@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --theme-h: 0;
    --theme-s: 0%;
    --theme-l: 9%;

    /* Light Theme Defaults */
    --background-light: 0 0% 98%;
    --foreground-light: 0 0% 3.9%;
    --card-light: 0 0% 100%;
    --card-foreground-light: 0 0% 3.9%;
    --popover-light: 0 0% 100%;
    --popover-foreground-light: 0 0% 3.9%;
    --primary-light: 0 0% 9%;
    --primary-foreground-light: 0 0% 98%;
    --secondary-light: 0 0% 96.1%;
    --secondary-foreground-light: 0 0% 9%;
    --muted-light: 0 0% 96.1%;
    --muted-foreground-light: 0 0% 45.1%;
    --accent-light: 0 0% 96.1%;
    --accent-foreground-light: 0 0% 9%;
    --destructive-light: 0 84.2% 60.2%;
    --destructive-foreground-light: 0 0% 98%;
    --border-light: 0 0% 89.8%;
    --input-light: 0 0% 89.8%;
    --ring-light: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 10%);

    /* Dark Theme Defaults */
    --background-dark: 0 0% 3.9%;
    --foreground-dark: 0 0% 98%;
    --card-dark: 0 0% 3.9%;
    --card-foreground-dark: 0 0% 98%;
    --popover-dark: 0 0% 3.9%;
    --popover-foreground-dark: 0 0% 98%;
    --primary-dark: 0 0% 98%;
    --primary-foreground-dark: 0 0% 9%;
    --secondary-dark: 0 0% 14.9%;
    --secondary-foreground-dark: 0 0% 98%;
    --muted-dark: 0 0% 14.9%;
    --muted-foreground-dark: 0 0% 63.9%;
    --accent-dark: 0 0% 14.9%;
    --accent-foreground-dark: 0 0% 98%;
    --destructive-dark: 0 62.8% 30.6%;
    --destructive-foreground-dark: 0 0% 98%;
    --border-dark: 0 0% 14.9%;
    --input-dark: 0 0% 14.9%;
    --ring-dark: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 10%);

    --background: var(--background-light);
    --foreground: var(--foreground-light);
    --card: var(--card-light);
    --card-foreground: var(--card-foreground-light);
    --popover: var(--popover-light);
    --popover-foreground: var(--popover-foreground-light);
    --primary: var(--primary-light);
    --primary-foreground: var(--primary-foreground-light);
    --secondary: var(--secondary-light);
    --secondary-foreground: var(--secondary-foreground-light);
    --muted: var(--muted-light);
    --muted-foreground: var(--muted-foreground-light);
    --accent: var(--accent-light);
    --accent-foreground: var(--accent-foreground-light);
    --destructive: var(--destructive-light);
    --destructive-foreground: var(--destructive-foreground-light);
    --border: var(--border-light);
    --input: var(--input-light);
    --ring: var(--ring-light);

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }

  .dark {
    --background: var(--background-dark);
    --foreground: var(--foreground-dark);
    --card: var(--card-dark);
    --card-foreground: var(--card-foreground-dark);
    --popover: var(--popover-dark);
    --popover-foreground: var(--popover-foreground-dark);
    --primary: var(--primary-dark);
    --primary-foreground: var(--primary-foreground-dark);
    --secondary: var(--secondary-dark);
    --secondary-foreground: var(--secondary-foreground-dark);
    --muted: var(--muted-dark);
    --muted-foreground: var(--muted-foreground-dark);
    --accent: var(--accent-dark);
    --accent-foreground: var(--accent-foreground-dark);
    --destructive: var(--destructive-dark);
    --destructive-foreground: var(--destructive-foreground-dark);
    --border: var(--border-dark);
    --input: var(--input-dark);
    --ring: var(--ring-dark);
  }
}

@layer base {
  * {
    @apply border-border;
    transition: background-color 700ms ease, color 700ms ease, border-color 700ms ease;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html {
    scroll-behavior: smooth;
  }
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: hsl(var(--primary));
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}
